<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h2> Favorite Animes </h2>
      <table class="favorite_animes">
        <tr class="fav_anime_headers">
          <th witdh="10%">ID</th>
          <th width="60%">Anime</th>
          <th width="30%">Action</th>
        </tr>
        <% @favorites.each do |favorite| %>
          <tr class="fav_anime_datas">
            <td><%= favorite.id %></td>
            <td><%= favorite.anime.title %></td>
            <td>
                <%= link_to 'Show', anime_path(favorite.anime), method: :get, class: "btn btn-show-anime btn-sm" %>
              <% if current_user.id == favorite.user.id %>
                <%= link_to 'Remove to Favorites', favorite_anime_path(favorite), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-remove-fav btn-sm" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>