// Place all the styles related to the animes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-show-anime{
  border-color: limegreen !important;
  color: limegreen !important;
}

.btn-show-anime:hover {
  background-color: limegreen !important;
  color: #EFEFEF !important;
}

.anime{
  padding-top: 10px;
  .anime-title {
    font-size: 25px;
    font-style: normal;
  }
  .anime-summary {
    padding-top: 5px;
    font-family: Verdana, Geneva, sans-serif;
  }
}

.anime-header{
  border-bottom-style: solid !important;
  border-width: 1px !important;
}

.anime-characters{
  padding-top: 30px;
  align-content: center;
  .character-header {
    font-size: 25px;
    text-align: center;
    .btn-character{
      font-size: 12px;
      border-color: dodgerblue;
      color: dodgerblue;
    }
    .btn-character:hover{
      background-color: dodgerblue;
      color: #EFEFEF;
    }
    .badge-character{
      font-size: 12px;
      background-color: #730E15;
    }
  }
}

.thumbnail-index{
  width: 280px;
  height: 460px;
  overflow: auto;
}

.btn-fav-anime{
  border-color: #B00100 !important;
  color: #B00100 !important;
}

.btn-fav-anime:hover{
  background-color: #B00100 !important;
  color: #EFEFEF !important;
}